asgiref==3.11.0
attrs==25.4.0
colander==2.0
Django==6.0
django-filter==25.2
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.29.0
gunicorn==21.2.0
drf-yasg==1.21.11
inflection==0.5.1
iso8601==2.1.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
mypy_extensions==1.1.0
mysqlclient==2.2.7
packaging==25.0
PyJWT==2.10.1
pyrsistent==0.20.0
pytz==2025.2
PyYAML==6.0.3
referencing==0.37.0
rpds-py==0.30.0
sqlparse==0.5.4
translationstring==1.4
typeit==3.11.1.3
typing-inspect==0.8.0
typing_extensions==4.8.0
uritemplate==4.2.0
python-dotenv==1.0.1
django-admin Bootstrap5==1.0.11
